.teamSlider{
  flex: .75;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
.teamTestimonials{
  background-color: var(--secondary-color);
  flex: 1;
  position: relative;
  z-index: -1;
  height: 60vh;
}
.teamTestimonials::before{
  content: "";
  width: 200px;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
z-index: -1;
}
